@charset "UTF-8";

.date2 {
		 	color : gray;
		 	margin-bottom: 5px;
}

.time2{
	 font-size: 60px;
	 padding-top: 25px;
	 padding-bottom: 25px;
}
.inOut{
	border: 2px solid #c7c7c7;
	height:365px;
	padding-top: 8px;
	margin-right: 5px;
}
.total {
	border: 2px solid #c7c7c7;
	min-height:365px;
	padding-top: 8px;
	margin-bottom: 10px;
}
.find-btn{
	text-align: center;
}
.find-btn1{
	display :inline-block;
	margin-left: 5px;
	margin-right: 5px;
}

.page{
	text-align: center;
	border-bottom: 1px solid #c7c7c7;
}
.chevron{
	width : 25px;
}
.fmt_time{
	float: right;
}

.work_status{
	color: white;
	border-radius: 70px;
	font-size: small;
	padding: 3px;
	padding-left: 8px;
	padding-right: 8px;
}
.ws1{
	background-color: #FE2E2E;
	color: white;
}
.ws2{
	background-color: #2E9AFE;
	color: white;
}
.ws3{
	background-color: #878787;
	color: white;
}
td {
	text-align: center;
}
th {
	text-align: center;
}