@charset "UTF-8";

* {
	font-family: 나눔고딕;
}

#messageWindow {
	background: black;
	color: greenyellow;
}

.inputMessage {
	margin-left:20px;
	width: 259px;
	height: 40px;
}

#btn-submit {
	background: white;
	background: #F7E600;
	width: 65px;
	height: 50px;
	color: #607080;
	border: none;
}

#main-container {
	margin-top: 200px; 
	width: 350px;
	/* height:600px; */
	border: 1px solid black;
	margin: 0px;
	display: inline-block;
	background: #9bbbd4;
}

#chat-container {
	border-radius : 10px;
	border:hidden;
	vertical-align: bottom;
	margin: 10px;
	min-height: 400px;
	max-height: 400px;
	overflow: scroll;
	overflow-x: hidden;
	background: #9bbbd4;
	border-radius: 10px;
}

.chat {
	font-size: 10px;
	color: black;
	margin: 5px;
	min-height: 20px;
	padding: 5px;
	min-width: 50px;
	text-align: left;
	height: auto;
	word-break: break-all;
	background: #ffffff;
	width: auto;
	display: inline-block;
	border-radius: 10px 10px 10px 10px;
}

.notice {
	color: #607080;
	font-weight: bold;
	border: none;
	text-align: center;
	background-color: #9bbbd4;
	display: block;
	font-size: 5px;
}

.my-chat {
	text-align: right;
	background: #F7E600;
	border-radius: 10px 10px 10px 10px;
}



#bottom-container {
	margin: -10px;
}

.chat-info {
	color: #556677;
	font-size: 10px;
	text-align: right;
	padding: 5px;
	padding-top: 0px;
}

.chat-box {
	text-align: left;
}

.my-chat-box {
	text-align: right;
}