@charset "UTF-8";

#header{
	width:1000px;
	height:100px;
	
}

#container{
	display: flex;
	flex-wrap: wrap;
	justify-content:center;
	align-items: center;
}


#img{
	width:100%;
	max-width:700px;
	height:100%;
	max-height:450px;
	vertical-align:middle;
	
}

.contents button[type=submit]{
	background-color: #515e93;
	border:1px solid #dadada;
	padding: 10px;
	color:#fff;
	width: 48%;
	cursor: pointer;
}

.contents button[type=button]{
	background-color: #ebad34;
	border:1px solid #dadada;
	padding: 10px;
	color:#fff;
	width: 48%;
	cursor: pointer;
}